<div class="relative">
  <div class="w-full h-20  flex flex-row justify-center absolute z-10">
    <p-button rounded size="large" class=""  icon="pi pi-sync"></p-button>
  </div>
  <div class="h-20 w-full z-1 bg-white flex flex-row justify-around items-center">
    <i class="pi pi-home text-red-500" style="font-size: 1.8rem"></i>
    <i class="pi pi-clock text-red-500" style="font-size: 1.8rem"></i>
    <div></div>
    <i class="pi pi-users text-red-500" style="font-size: 1.8rem"></i>
    <i class="pi pi-align-justify text-red-500" style="font-size: 1.8rem"></i>

  </div>
</div>
